@page "/Article/{articleId:int}"
@using CloneHabr.Dto.Requests;
@inject HttpClient httpClient

<div style="@((mainText is not null) ? "display:block" : "display:none") ">
    <h3>@articleDto.Name</h3>
    @if(mainText is not null)
    {
        @foreach (var item in mainText)
        {
            @item
            <br />
        }
    }
    <hr />
    Автор: @articleDto.LoginUser, @articleDto.CreationDate
    <br />
</div>

@code {
    [Parameter]
    public int articleId { get; set; }

    string[] mainText;
    ArticleDto articleDto = new();

    protected override async void OnInitialized()
    {
        string uri = $"api/Article/GetAricleById?articleId={articleId}";
        Console.WriteLine($"*** running Article.OnInitialized()\narticleId is {articleId}");

        var articleDtoResponse = await httpClient.GetFromJsonAsync<GetByIdArticleResponse>(uri);

        articleDto = articleDtoResponse.articleDto;
        mainText = articleDto.Text.Split(
            new string[] { "\r\n", "\r", "\n" }, StringSplitOptions.None
        );

        StateHasChanged();
    }

    protected override void OnParametersSet()
    {
        Console.WriteLine($"*** running Article.OnParametersSet()\narticleId is {articleId}");
    }


}
