@page "/"
@inject UserInfo userInfo

<PageTitle>Главная</PageTitle>

<h1>Заголовок</h1>

лента новостей / статей

<SurveyPrompt Title="Ну и как тебе Блейзор?" />
@code{

    protected override void OnInitialized()
    {

        //Console.WriteLine($"Index OnInitialized: {userInfo.LoginName}\n{userInfo.SessionId}\n{userInfo.UserId}\n{userInfo.Token}");

    }

}