@page "/logout"
@inject UserInfo userInfo
@inject NavigationManager navigationManager
<h2>User loggedout</h2>
@code {
    protected override void OnInitialized()
    {
        Console.WriteLine("Logout OnInitialized******************");
        Console.WriteLine($"userLoginName was: {userInfo.LoginName}");
        userInfo.LogOut();
        Console.WriteLine($"userLoginName now is: {userInfo.LoginName}");
        Thread.Sleep(2000);
        navigationManager.NavigateTo("/");
    }

    protected void OnAfterRender()
    {
        Console.WriteLine("Logout OnAfterRender******************");
        userInfo.LogOut();
        Console.WriteLine($"userLoginName is: {userInfo.LoginName}");
        navigationManager.NavigateTo("/");
    }

}
