<h5>@articleDto.Name</h5>
Main text: @articleDto.Text
Published: @articleDto.CreationDate

@code {
    [Parameter]
    public ArticleDto articleDto { get; set; }

    protected override void OnInitialized()
    {
        Console.WriteLine("*********** ArticleDto.OnInitialized()" + articleDto.Name);
    }

}
