@page "/cabinet"

@inject IJSRuntime JsRuntime


<div class="col-lg-8">
    <h2 align="center">Личный кабинет пользователя</h2>

    <div class="my-3">
        <AddNewArticle></AddNewArticle>
    </div>

    <div class="my-3">
        <EditAccountComponent></EditAccountComponent>
    </div>

    <div class="my-3">
        <NotificationsContainer></NotificationsContainer>
    </div>

</div>

@code {


}
