@inject UserInfo userInfo

@if (!userInfo.IsLoggedIn)
{
    <div class="nav-item">
        <NavLink class="nav-link" href="login">
            <span>Авторизуйтесь для комментирования</span>

        </NavLink>
    </div>
}

@if (comments is not null)
{
    foreach (var item in comments)
    {
        <Comment commentDto="item" />
    }
}

@code {
    [Parameter]
    public List<CommentDto>? comments { get; set; }

}
