
<hr />
<span>
    Вам написал @notification.FromUserLogin, @notification.CreationDate
</span>
<span>
    @notification.Text
</span>

@code {
    [Parameter]
    public NotificationDto notification { get; set; }


}
